<div class="container">
      
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>Ember JS Contact List</h1>
        <p class="lead">Responsive Contact List. You can add new contacts using slide panel effect or try out basic form page. Search through contacts. Sorted in alphabetical order. Click on contact list on the left side and see information display on the right side.</p>
        <p>{{#link-to 'contacts' class="btn btn-lg btn-success"}}Check it out{{/link-to}}</p>
      </div>

      <div class="row info-content">
        <div class="col-lg-6">
          <h4>Bootstrap</h4>
          <p>Use to style Contact List</p>

          <h4>Moment.Js</h4>
          <p>Full featured date library for parsing, validating, manipulating, and formatting dates.</p>

          <h4>Ember Pickaday datepicker</h4>
          <p> Date picker using Pickaday and momentjs</p>

          <h4>Jquery Animate</h4>
          <p>Use to create slide panel effect</p>
        </div>

        <div class="col-lg-6">
          <h4>Routes</h4>
          <p>Created route for new contact page</p>

          <h4>Controllers and Components</h4>
          <p>Add new contact using Controller or Component. Try out both</p>

          <h4>Helpers</h4>
          <p>To formate date</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Marvin Elmore, Full Stack Developer.</p>
      </footer>

    </div>
    </div> 
 </div>   